
body {
    background-color: silver;
}
header {
    height: 150px;
    width: 100%;
    background-color:inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: aliceblue;
    align-items: center;

}

#image {
    max-width: 100%;
    height: auto;
    margin: auto;

}

#img-quo {
    display: flex;
    width: 50%;
    margin: auto;
}

#more  {
    margin: auto;
    width: 50%;
    padding: 10px;
  }